.form-container {
  position: sticky;
  top: -1px;
}
.search-form {
  display: flex;
  padding: 20px 0;
  justify-content: center;
  gap: 0;
  margin-bottom: 10px;
  text-align: center;
  background-color: teal;

  input {
    width: 400px;
    padding: 8px;
    display: block;
    outline: none;

    border: 1px solid #ccc;
    border-radius: 4px 0 0 4px;
  }
}

button {
  border: 1px solid #ccc;
  border-radius: 0 4px 4px 0;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  background-color: grey;
  border: none;
}

.gallery {
  display: flex;

  gap: 20px;
  flex-wrap: wrap;
  justify-content: space-around;
}

.photo-card {
  padding: 10px;
  overflow: hidden;
  box-shadow: -20px 7px 35px -16px rgba(58, 64, 64, 1);
  -webkit-box-shadow: -20px 7px 35px -16px rgba(58, 64, 64, 1);
  -moz-box-shadow: -20px 7px 35px -16px rgba(58, 64, 64, 1);
  border-radius: 2px;
}

.load-more {
  display: block;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.info {
  display: flex;
  justify-content: space-between;

  &-item {
    display: flex;
    flex-direction: column;
  }
}
